$black : #252830;

body {
  background-color: #1c1d21;
  color: white;
} 

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: white;
}

h1 {
  text-align: center;
  background: -webkit-linear-gradient( green, yellow );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
  font-size: 3em;
}

.text-center {
  text-align: center;
}

.btn {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 18px;
  outline: none!important;
  background: #282828;
  color: white;
  padding: 15px 50px;
  -webkit-transition: all 1s ;
  -moz-transition: all 1s ;
  -o-transition: all 1s ;
  transition: all 1s ;
}

/* Nav */
.logo {
  display: block;
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  background-color: #0f1013;
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  background-color: #30343e;
  z-index: 2;
  // overflow-y: auto;
  .nav {
    text-align: center;
    li {
      position: relative;
      border-top: 1px solid $black;
      &:hover {
        .icon-info {
          display: block;
          border: 3px solid;
          background: rgba(38, 38, 48, 0.68);
          border-image-source: linear-gradient(to right bottom, yellow, green);
          border-image-slice: 1;
        }
      }
      &.active {
        background: $black;
      }
      .icon-info {
        position: absolute;
        display: none;
        font-weight: bold;
        font-style: italic;
        padding: 7px 0;
        width: 100px;
        top: 12px;
        right: -120px;
        // bottom: 0;
        &:before {
          content: ''; 
          position: absolute;
          left: -21px;
          border: 10px solid transparent;
          border-right: 10px solid greenyellow;
        }
      }
      a {
        display: block;
        padding: 20px 0;
      }
    }
  }
}

/* Particles */
.particles-js-canvas-el {
  position: fixed;
  top: 0;
}

/* Main part */

.wrap {
  position: relative;
  width: 1200px;
  padding: 30px 25px 110px 25px;
  max-width: 100%;
  left: 70px;
  margin: auto;
  box-sizing: border-box;
  background: rgba(38, 38, 48, 0.68);;
  z-index: 2;
}

/* List of Games */
.list-games {
  text-align: center;
  li:nth-child(odd) {
    margin-top: 50px;
  }
  &>li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    h2 {
      text-transform: uppercase;
      margin-bottom: 40px;
      background: -webkit-linear-gradient(yellow, green);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .circle {
      position: relative;
      strong {
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        font-size: 38px;
        background: -webkit-linear-gradient(#d22b1f, #f89b2d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .game-description {
      margin-top: 40px;
      padding: 25px;
      border: 3px solid #212020;
      -webkit-transition: all 1s ;
      -moz-transition: all 1s ;
      -o-transition: all 1s ;
      transition: all 1s ;
      p {
        line-height: 25px;
      }
      .btn {
        background: -webkit-linear-gradient( green, yellow );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        border: 2px solid greenyellow;
        color: black;
      }
      &:hover {
        position: relative;
        z-index: 2;
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
        border-image-source: linear-gradient(to right bottom, yellow, green);
        border-image-slice: 1;
        background-color: rgba(0, 0, 0, 0.8);
        .btn {
          background: linear-gradient(to bottom right, green, yellow);
          
          -webkit-text-fill-color: inherit;
          &:hover {
            background: linear-gradient(to bottom right, rgb(194, 23, 47), #1318be);
          }
        }
      }
    }
  }
}

/* RouleTTe */

.statistic {
  @extend .list-games;
  li:nth-child(odd) {
    margin-top: 50px;
  }
}

.live-line {
  border: 2px solid #30343e;
  border-image-source: linear-gradient(to right, yellow, green);
  border-image-slice: 1;
  background: rgba(0, 0, 0, 0.22);
  h3 {
    border: 3px solid black;
    letter-spacing: 4px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    writing-mode: tb-rl;
    margin: 0;
    border-image-source: linear-gradient(to right bottom, yellow, red);
    border-image-slice: 1;
    padding: 30px 5px;
  }
}

/* Footer */
.footer {
  position: relative;
  padding: 50px 85px;
  background: #30343e;
  z-index: 2;
}

/* Media */